{{!-- <form class="p-3 m-3 border d-flex justify-content-between align-items-center add-form"> --}}
             <div class="my-1"><img class="image-products" src="/assets/images/products/{{id}}.JPG" alt="{{product_name}}"/></div>
            <h5 class="my-1 text-capitalize">{{product_name}}</h5>
            <div class="my-1">${{price}}</div>
            <div class="my-1">{{format_stock stock}}</div>
            <div class="my-1" id="pid">PID: {{id}}</div>
            <div class="my-1">{{description}}</div>
            
{{!-- </form> --}}
